.obrazy {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
#content a {
  margin: 1%;
}

#content a img {
  width: 100%;
  height: auto;
  border: 5px #160F29 solid;
  border-radius: 10%;
}
